body{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #563d7c;
}
p{
    font-size: 1em;
    padding: 0 12px;
}

/* HEADER */
ul li a{
    color: white;
}
.nav-item{
    padding-right: 20px;
}
.workingPeople{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#brandLogo{
    z-index: 10;
    position: absolute;
    width: 110px;
    height: 100px;
    top: 5px;
}

/* CARDS */
.card-img-top{
    width: 100px;
    height: 100px;
}

/* ACERCA DE NOSOTROS */
#contQuienesSomos{
    margin-top: 12%;
    padding-right: 0px;
    padding-left: 0px;
}
#contQuienesSomos .row{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#divQuienesSomos{
    background-color: #383838;
}
.acercaNosotros{
    margin-top: 12%;
}
.jumbotron-fluid{
    border-radius: 5px;
    margin: auto;
}

/* EMPLEADOS */
.contEmpleados{
    margin: 12% 0;
}
.contEmpleados .card-img-top{
    margin-left: 20%;
    padding: 10% 0 ;
    width: 60%;
    height: 60%;
}
.contEmpleados .card-body{
    padding: 5% 0 ;
}
.contEmpleados .card-text{
    font-weight: bold;
    text-align: center;
    padding: 0;
    color: white;
}

/* DIV CONTACTO */
#divContacto{
    background-image: url(img/comienza.jpg);
    margin-top: 10%;
    background-size: cover;
}
.primeraRow{
    padding-top: 10%;
    padding-bottom: 3%;
}
.segundaRow{
    padding-bottom: 5%;
}
.textoContacto{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

/* PAGINA DE SERVICIOS */
#contServicios{
    margin-top: 15%;
}
.imgServicios1{
    padding-top: 2%;
    padding-bottom: 2%;
    float: left;
    padding-left: 3%;
    width: 15%;
}
.imgServicios2{
    padding-top: 2%;
    padding-bottom: 2%;
    float: right;
    padding-right: 3%;
    width: 15%;
}
.textoCentro1{
    font-size: 2em;
    font-weight: bold;
    padding-top: 6%;
    padding-right: 2%;
    float: right;
    color: white;
}
.textoCentro2{
    font-size: 2em;
    font-weight: bold;
    padding-top: 6%;
    padding-left: 2%;
    float: left;
}

/* DIV TECNOLOGIAS */
#contTecnologia{
    margin-top: 15%;
    margin-bottom: 15%;
}
.cardTecnologias , .cardClientes{
    margin: auto;
    width: 100px;
    height: 160px;
    padding: 20% 0;
}
/* ION ICONS */
ion-icon{
    color: black;
    size: 20px;
}

/* DIV CLIENTES */
#contClientes{
    margin-top: 15%;
    margin-bottom: 15%;
}

/* DIV COMENTARIOS */
.imgFeedback{
    float: left;
    width: 15%;
}
.comentarios p{
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
}

/* PAGINA DE CONTACTO */
.contactoImg{
    height: 100%;
}
#contContacto{
  margin-top: 8%;
}
.formularioP{
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}
.form-control{
    width: 70%;
}
textarea{
    width: 70%;
}
.btnEnviar{
    width: 70%;
}

/* FOOTER */
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #383838;
    height: 60px;
}

/* MEDIA QUERIES */
/* Large devices (desktops 1366) */
@media (min-width: 1200px) and (max-width: 1366px){
/* CAROUSEL */
#contTecnologia .carousel-inner , #contClientes .carousel-inner{
    padding-bottom: 4%;
}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
/* CAROUSEL */
#contTecnologia .carousel-inner{
    padding-bottom: 3%;
}
/* DIV COMENTARIOS */
.imgFeedback{
    padding-right: 2%;
    margin-top: 1%;
    width: 18%;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px){
    /* NOSOTROS */
#divQuienesSomos  p{
    padding: 1% 0 3% 0;
}
/* CAROUSEL */
    #contTecnologia .carousel-inner{
        padding-bottom: 2%;
}
/* DIV COMENTARIOS */
    .imgFeedback{
        padding-right: 2%;
        margin-top: 4%;
        width: 20%;
    }
/* SERVICIOS */
    .textoCentro1, .textoCentro2{
        padding-top: 4%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px){
    #divQuienesSomos  p{
        padding: 1% 0 3% 0;
    }

/* CAROUSEL */
#contTecnologia .carousel-inner{
    padding-bottom: 3%;
}
/* DIV COMENTARIOS */
    .imgFeedback{
        display: inline-block;
        margin-left: 37%;
        width: 25%;
    }
    .comentarios p{
        display: inline-block;
    }
/* DIV EMPLEADOS */
    .contEmpleados .card-img-top{
        margin-left: 25%;
        width: 50%;
    }
    #contQuienesSomos .row{
        margin: auto;
    }
/* SERVICIOS */
    #contServicios{
        margin-top: 20%;
    }
    .textoCentro1, .textoCentro2{
        padding-top: 4%;
    }
    .cardTecnologias .card-img-top{
        padding-bottom: 10%;
    }
/* CLIENTES */
    .cardClientes{
        padding: 10% 0;
    }
/* FORMULARIO */
    #contContacto{
        width: 50%;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px){
/* NAVBAR */
    .navbar-toggler {
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .nav-link{
        padding: 15px 0;
        text-align: center;
    }
/* NOSOTROS */
    #contQuienesSomos{
        margin-top: 60%;
    }
    .contEmpleados .card-img-top{
        margin-left: 25%;
        width: 50%;
    }
    #contQuienesSomos .row{
        margin: auto;
    }
/* SERVICIOS */
    #contServicios{
        margin-top: 60%;
    }
    .imgServicios1, .imgServicios2{
        padding-top: 5%;
    }
/* DIV COMENTARIOS */
    .imgFeedback{
        display: inline-block;
        margin-left: 37%;
        width: 25%;
    }
    .comentarios p{
        display: inline-block;
    }
/* CLIENTES */
    #contClientes{
        margin-top: 60%;
    }
}
